<div>
  <div class="max-w-md mx-auto bg-green-400 rounded-xl shadow-md overflow-hidden md:max-w-2xl m-32">
    <div class="md:flex">
      <div class="md:shrink-0">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src="/assets/img/foto.jpg" />
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-xl text-white font-semibold">
          La Casa de la PC
        </div>
        <a href="#"
          class="block mt-1 text-lg leading-tight font-medium text-cyan-500 hover:underline">julio.corbaz@gmail.com</a>
        <p class="mt-2 text-white">
          Adjunto CV - Julio Cesar Corbaz 
        </p>
      </div>
    </div>
  </div>
  <div class="m-6 p-3 shadow-lg text-xl text-center text-purple-300 bg-slate-500 rounded-md">
    Argentina - Buenos Aires - Mar del Plata
  </div>
</div>